<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

	<resultMap id="userResultMap" type="com.example.model.User">
		<id property="id" column="id" />
		<result property="username" column="username" />
		<result property="email" column="email" />
		<!-- 추가적인 매핑 -->
		<!-- ... -->
	</resultMap>

	<select id="getUserById" parameterType="int"
		resultMap="userResultMap">
		SELECT * FROM users WHERE id = #{id}
	</select>

	<select id="getUserByUsername" parameterType="String"
		resultMap="userResultMap">
		SELECT * FROM users WHERE username = #{username}
	</select>

	<insert id="createUser" parameterType="com.example.model.User">
		INSERT INTO users
		(username, email, password) VALUES (#{username}, #{email},
		#{password})
	</insert>

	<!-- 추가적인 SQL 매핑 -->
	<!-- ... -->

</mapper>
